<%- include('partials/header') %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome To Wikiance</h1>
        <hr>
        <p class="lead">Please have a nice time reading our latest stories</p>
        <a href="/posts" class="btn btn-success btn-lg">Explore</a>
    </div>
</div>

<%- include('partials/footer') %>
